@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 120s linear infinite;
  width: max-content;
}

/* Pausa la animación al hover (opcional) */
.animate-scroll:hover {
  animation-play-state: paused;
}
