<div class="relative">
    <div class="carousel carousel-center space-x-4 p-4 overflow-x-auto snap-x snap-mandatory lg:hidden">
        @for(note of notesCarousel(); track note.id) {
        <div class="carousel-item w-[45%] flex-shrink-0 snap-start relative">
            <img [src]="note.image" [alt]="note.title" class="rounded-box w-full h-64 object-cover" />

            <div
                class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/80 to-transparent p-3 text-white rounded-b-box">
                <h3 class="text-sm font-semibold whitespace-normal line-clamp-2">{{ note.title }}</h3>
            </div>
        </div>
        }
    </div>

    <div class="hidden lg:grid lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 p-4">
        @for(note of notesCarousel(); track note.id) {
        <div class="relative group cursor-pointer">
            <img [src]="note.image" [alt]="note.title"
                class="rounded-box w-full h-80 object-cover transition-transform duration-300 group-hover:scale-[1.02]" />

            <div
                class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/80 to-transparent p-3 text-white rounded-b-box">
                <h3 class="text-base font-semibold whitespace-normal line-clamp-2">{{ note.title }}</h3>
            </div>
        </div>
        }
    </div>
</div>